.page-width {
	@apply ts:lg:px-20! ts:md:px-12! ts:px-8!;
}
.page-width-full {
	@apply ts:px-0!
} 
.text-align {
  text-align: var(--text-align);
}
.custom-section {
	@apply ts:xl:py-(--padding-xl) ts:lg:py-(--padding-lg) ts:md:py-(--padding-md) ts:py-(--padding-sm) ts:px-0 ts:overflow-hidden;
}
.button {
	@apply ts:lg:text-lg ts:text-base ts:leading-none ts:md:min-w-124 ts:min-w-90 ts:hover:text-[rgba(var(--color-foreground))]! ts:hover:bg-[rgba(var(--color-background))]! ts:md:min-h-20;
}
.btn-text-only {
	@apply ts:text-sm! ts:uppercase ts:font-normal ts:inline ts:p-0 ts:bg-transparent ts:text-[rgba(var(--color-foreground))] ts:hover:font-bold ts:hover:underline ts:transition-all ts:duration-300 ts:ease-linear;
}
.button--secondary {
	@apply ts:after:shadow-none! ts:hover:bg-[rgba(var(--color-foreground))]! ts:hover:text-[rgba(var(--color-background))]!;
}
.button--outline {
	@apply ts:bg-transparent ts:text-[rgba(var(--color-foreground))]! ts:hover:text-[rgba(var(--color-background))]! ts:hover:bg-[rgba(var(--color-foreground))]!;
}
button, a, .button, .btn {
	@apply ts:transition-all ts:duration-300 ts:ease-linear;
}
.link, .customer a {
	@apply ts:underline-offset-5
}

/* Header Styles */
.section-header > sticky-header {
	@apply ts:transition-all ts:duration-300 ts:ease-linear;
}
.section-header .header__menu-item,
.section-header .header__icons,
.section-header .menu-drawer .list-menu__item,
.section-header .menu-drawer__account,
.section-header .menu-drawer__localization {
	@apply ts:text-[rgba(var(--color-foreground))] ts:font-heading ts:text-sm ts:uppercase;
}
.section-header .header__icons {
	@apply ts:xl:gap-x-10;
}
.section-header .header__icons .header__icon {
	@apply ts:xl:w-auto ts:xl:h-auto;
}
.section-header .header__icons .header__icon:not(:hover) {
	@apply ts:xl:no-underline;
}
.section-header .header__icons .header__icon--cart .icon {
	@apply ts:w-8 ts:h-8;
}

swiper-slider,
.swiper-controls {
	--swiper-theme-color: rgba(var(--color-foreground));
}
swiper-slider .swiper-nav {
	--swiper-navigation-sides-offset: -0.8rem;
	--swiper-navigation-size: 3rem;
}
swiper-slider .swiper-nav:after {
	@apply ts:font-bold;
}
swiper-slider .swiper-pagination {
	--swiper-pagination-bottom: -2.5rem;
}
.product-card-wrapper .card__heading {
	@apply ts:font-body ts:text-base
}
.product-card-wrapper .card__content .price {
	@apply ts:text-sm ts:text-[rgba(var(--color-foreground),0.65)];
}

/* Footer styles */
footer.footer {
	@apply ts:border-0!
}
footer .footer__content-top {
	@apply ts:relative ts:xl:flex ts:lg:flex-row-reverse ts:w-full ts:max-w-full ts:pt-12;
}
footer .footer__content-top:before {
	@apply ts:content-[""] ts:w-full ts:lg:max-w-[calc(100%-var(--ts-spacing)*40)] ts:md:max-w-[calc(100%-var(--ts-spacing)*24)] ts:max-w-[calc(100%-var(--ts-spacing)*16)] ts:h-[0.1rem] ts:absolute ts:top-0 ts:left-1/2 ts:-translate-x-3/6 ts:bg-[rgba(var(--color-foreground))];
}
footer .footer__blocks-wrapper {
	@apply ts:items-center ts:xl:gap-x-[calc(clamp(1.5rem,3.906vw-1.5rem,6rem))] ts:flex-1 ts:lg:justify-between;
}
footer .footer-block.grid__item.footer-block--menu {
	@apply ts:self-start ts:xl:w-fit ts:xl:max-w-fit ts:max-[750px]:text-center;
}
footer .footer-block__heading {
	@apply ts:font-body ts:font-bold ts:text-sm ts:mb-0 ts:uppercase;
}
footer .footer-block__details-content li {
	@apply ts:leading-[1.2];
}
footer .footer-block__details-content .list-menu__item--link {
	@apply ts:text-sm ts:uppercase ts:p-0 ts:text-[rgba(var(--color-foreground))] ts:max-[750px]:justify-center;
}
footer .footer-block.grid__item:not(.footer-block--menu) {
	@apply ts:max-lg:w-full ts:max-lg:max-w-full ts:lg:max-w-200;
}
footer .footer__content-top .footer-block--newsletter {
	@apply ts:xl:mt-0 ts:items-center ts:min-[1575px]:flex-[0_0_40%] ts:flex-[0_0_25%];
}
footer .footer-block--newsletter .footer-block__newsletter {
	@apply ts:text-left;
}
footer .footer-block--newsletter .footer-block__heading {
	@apply ts:text-base;
}
footer .footer-block--newsletter .newsletter-form {
	@apply ts:max-w-88 ts:mx-0;
}
footer .footer-block--newsletter .newsletter-form__field-wrapper .field__input {
	@apply ts:pl-0 ts:py-6! ts:pr-6! ts:border-b ts:border-[rgba(var(--color-foreground))] ts:outline-none! ts:shadow-none!;
}
footer .footer-block--newsletter .newsletter-form__field-wrapper .field__input::placeholder {
	@apply ts:opacity-100 ts:tracking-[0.25em] ts:text-[rgba(var(--color-foreground))];
}
footer .footer__content-bottom {
	@apply ts:border-t-0 ts:py-4 ts:bg-[rgba(var(--color-foreground))];
}
footer .footer__content-bottom .footer__copyright {
	@apply ts:mt-0 ts:text-[rgba(var(--color-background))];
}
footer .footer__content-bottom .footer__copyright a:hover {
	@apply ts:text-[rgba(var(--color-background),0.6)];
}

/* Collection page styles */
.collection-page .facets-wrapper,
.collection-page .collection {
	@apply ts:min-[750px]:max-w-[96.956%];
}
.collection-page .facets-wrapper {
	@apply ts:md:mb-10 ts:mb-8;
}
.collection-page aside.facets-wrapper:has(.collection-name-wrapper) {
	@apply ts:flex ts:items-center ts:justify-between;
}
.collection-page aside.facets-wrapper:has(.collection-name-wrapper) .collection-name {
	@apply ts:font-normal ts:text-sm ts:uppercase;
}
.collection-page aside.facets-wrapper:has(.collection-name-wrapper) .facets-container {
	@apply ts:p-0;
}
.collection-page aside.facets-wrapper:has(.collection-name-wrapper) .mobile-facets__wrapper,
.collection-page aside.facets-wrapper:has(.collection-name-wrapper) .active-facets {
	@apply ts:justify-end ts:mr-0;
}
.collection-page .facets-wrapper .mobile-facets__open .svg-wrapper {
	@apply ts:w-5 ts:h-5 ts:ml-4;
}
.collection-page .collection .grid {
  --grid-desktop-horizontal-spacing: calc(clamp(1.5rem, 2.991vw - 0.744rem, 5rem));
  --grid-desktop-vertical-spacing: calc(clamp(6rem, 7.265vw + 0.551rem, 14.5rem));
}
.collection-page .product-card-wrapper .card .media {
	@apply ts:bg-lightgray;
}