@import '../web/styles/hp_global_styles.css';
@import '../web/styles/hp_index.css';
@import '../web/styles/product.css';

@import "tailwindcss" prefix(ts);

@theme {
  --font-heading: Helvetica, Arial, sans-serif;
  --font-body: "Archivo Narrow", sans-serif;

	--color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #2C2C2C;
  --color-transparent: transparent;
  --color-lightgray: #F6F6F6;
  --color-gray: #EBEBEB;
  --color-gray1: #606060;

  --text-xs: 1.1rem;
  --text-sm: 1.3rem;
  --text-base: 1.5rem;
  --text-lg: 1.8rem;
  --text-xl: 2.5rem;
  --text-2xl: clamp(3.2rem, 3vw, 5rem);
  --text-3xl: clamp(3rem, 5vw, 8.5rem);
  --text-big: clamp(6.5rem, 10vw, 11.5rem);

	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-2xl: 1441px;
}

@custom-variant is-active (&.is-active);